.app {
    text-align: center;
    display: wrap;
}

.title {
    text-align: center;
    font-size: 3em;
}

.subtitle {
    text-align: center;
    font-size: 1.5em;
}

.how-to-play {
    margin: 10px;
}
