.app {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}

.title {
    text-align: center;
    font-size: 3em;
}

.subtitle {
    text-align: center;
    font-size: 1.5em;
}

.popup-button {
    margin: 10px;
    background-color: orange;
    width: 5vw;
    height: 5vw;
}

.restart-button {
    margin: 10px;
    background-color: red;
    width: 40%;
}

.views-button {
    margin: 10px;
    background-color: blue;
    width: 40%;
}

.component-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}